<div class="container mt-3">

    <app-product [categories]="categories" [product]="product" (saveEmitter)="saveProduct()"></app-product>

    
      <div class="display-6">
          Alunos cadastrados
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <table class="table" id="studentsTable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col" class="d-none d-md-table-cell">Email</th>
                  <th scope="col" class="d-none d-md-table-cell">Telefone</th>
                  <th scope="col" class="d-none d-md-table-cell">Curso</th>
                  <th scope="col" class="d-none d-md-table-cell">Turma</th> 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of products">
                  <td>{{p.id}}</td>
                  <td>{{p.name}}</td>
                  <td>{{p.email}}</td>
                  <td>{{p.phone | currency: 'BRL'}}</td>
                  <td>{{p.course.name}}</td>
                  <td>{{p.class}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  
  </div>